@import "../../../styles/scss/color";

.header__button--random{
    background:none;
    display: flex;
    align-items: center;
    padding:0.5rem 1rem;
    margin:1rem;
    transition:background 0.3s;
    &:hover{
        background:$dark-gray;
        color:$concrete;
        &::after{
            animation:rotate 1s infinite;
            background-image:url("../../../assets/icons/refresh-concrete.png");
        }
    }
    &::after{
        content:"";
        height:1rem;
        width: 1rem;
        background-image:url("../../../assets/icons/refresh-gray.png");
        background-size: cover;
        display: block;
        margin-left:0.5rem;
    }
}

@keyframes rotate{
    from{
        transform:rotate(0);
    }
    to{
        transform:rotate(360deg);
    }
}