@import "../../../styles/scss/color";

.error{
    &__card{
        position: relative;
        padding:2rem;
        background:$lightcoral;
        animation:fadeIn 1s 1 forwards;
    }

    &__message{
        font-weight: bold;
        display: block;
        margin-bottom: 0.5rem;
        max-width: 80%;
    }

    &__button--reload{
        background:none;
        position: absolute;
        top:0;
        bottom:0;
        right:2rem;
        margin:auto;
    }
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(-10px);
    }
    to{
        opacity:1;
        transform: translateY(0);
    }
}